* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #2b2b26, #272925);
}

.navbar {
    background-color: #63a481;
    padding: 12px 20px;  
}

.navbar-brand {
    color: #fff2ba;
    font-size: 2rem;
    font-weight: bold;
    cursor: default;
}

.navbar-brand:hover {
    color: #fff2ba;
}

.navbar .activo {
    color: #fff2ba;
    font-weight: bold;
    text-decoration: underline;
}

.navbar .nav-link {
    color: #fff2ba;
    font-size: 1.2rem;
    margin-right: 10px;
}

.hero {
    color: #2b2b26;
    max-width: 95%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff7d4;
    border-radius: 8px;
}

#libros-d {
    color: #fff2ba;
}

.btn-primary {
    margin-top: 1.5rem;
    background-color: #6ba3a5;
    border: none;
    padding: 0.7rem 2rem;    
    width: 60%;
    color: #fff2ba;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #4d7475;
    color: #fff2ba;
}

.btn-primary:active {
    background-color: #96c5c7 !important;
    color: #fff2ba !important;
}

.cards-section {
    padding: 2rem 4rem;
}

.libro-card {
    background-color: #fff7d4;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    height: 100%; 
}

.libro-card .card-title {
    color: #2b2b26;
    font-weight: bold;
}

.libro-card .card-text {
    color: #4a4a40;
    font-size: 0.9rem;
}

.libro-card .card-link {
    color: #63a481;
    font-weight: bold;
    text-decoration: none;
}

.libro-card .card-link:hover {
    color: #4e8a6a;
    text-decoration: underline;
}

.libro-card .card-img-top {
    height: 250px;      
    object-fit: cover;    
}

.libro-page {
    color: #2b2b26;
    max-width: 80%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff7d4;
    border-radius: 8px;
}

.img-libro {
    height: 32rem;
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}

#precio {
    color:#6ba3a5;
    font-weight: bold;
    font-size: 1rem;
}

.btn-volver {
    background-color: #fff2ba;
    border: none;
    color: #2b2b26;
    font-size: 1.1rem;
    transition: background-color 0.2s ease;
}

.btn-volver:hover {
    background-color: #b6ae89;
    color: #2b2b26;
}

.buscador {
    display: flex;
    margin-top: 10px;
    border-radius: 12px;
    overflow: hidden;
}

.buscador input {
    background-color:#fff7d4;
    padding: 12px 15px;
    max-width: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
}

.buscador button {
    padding: 12px 20px;
    border: none;
    background-color: #6ba3a5;
    color: #fff2ba;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
}

.buscador button:hover{
    background-color: #4d7475;
}

.buscador button:active{
    background-color: #96c5c7;
}

#titulo-catalogo {
    color: #fff2ba;
}

#error {
    color: #b35347;
    margin-top: 10px;
    font-weight: bold;
}

.cargando {
    color: #63a481;
    font-size: 1.2rem;
}